

.banner{
    padding: 80px;
}


.img-1 img{
    height: 390px;
    padding: 100px;
}


.table-section {
    padding: 100px;
}

.sterched{
    padding: 100px;
}

.container h3{
    text-align: center;
    margin-top: -10px;
}





